<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Item</title>
</head>
<body>
<div class="destination">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= image_tag @item.image %>
        <h2><%= @item.title.capitalize%> | <%= @item.price%></h2>
        <p><%= @item.description %></p>
        <%= link_to "Edit", edit_item_path(@item) %>
        <% if current_user %>
        <%= link_to "Delete Item",item_path(@item),method: :delete, data: {confirm: "Are you sure?"} %>
        <%end%>
      </div>
    </div>
  </div>
</div>

</body>
</html>
