<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>QuickMart</title>
</head>
<body>
  <div class="container">
    <h1>Categories</h1>
  </div>
</div>

<div class="tags">
  <div class="container">
    <div class="cards row">
      <% @categories.each do |c| %>
      <div class="card col-xs-4">
        <%=link_to( image_tag(c.image), category_path(c), {:style=>'background-color:transparent'}) %>
        <h4 class="card-title"><%= c.title.capitalize %></h4>
        <p class="catdesc"><%= c.description %></p>
        <%= link_to "Check all #{c.title}" , category_path(c) %>
        <%if admin? %>
          <%= link_to "Delete", category_path(c.id) ,method: :delete, data: {confirm: "Are you sure?"} %>
        <%end%>
      </div>
      <% end %>
    </div>
  </div>
</div>

</body>
</html>
