<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show list</title>
</head>
<body>

<div class="tag">
  <div class="container">
    <h2><%= @category.title.capitalize %></h2>

    <div class="cards row">
      <% @items.each do |i| %>
      <div class="card col-xs-4">
        <%= image_tag i.image %>
        <h2><%= i.title %> | $<%= i.price%></h2>
        <p><%= i.description %></p>
        <a href="tel:+9739941009">Order now</a>
        <% if admin? %>
          <%= link_to "See more", item_path(i)%>
        <%end%>

      </div>
      <% end %>
    </div>

  </div>
</div>

</body>
</html>
