<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <%= link_to "QuickMart", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <% @categories.each do |c|%>
                <li class="nav-item">
                  <%= link_to "#{c.title.capitalize}", category_path(c.id), class: "nav-link" %>
                </li>
              <%end%>
            <%if current_user%>
<!--               <li class="nav-item">
                <%= link_to "Add Category", "/categories_new",class: "nav-link" %>
              </li> -->
              <li class="nav-item">
                <%= link_to "Add Item", "/items_new",class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to "logout", logout_path, method: "delete" ,class: "nav-link" %>
              </li>
            <%else%>

              <li class="nav-item">
                <%= link_to "Login", "/login", class: "nav-link" %>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
    </nav>
